.seven-peaks-select-wrapper {
    display: inline-block;
    position: relative;

    &.expanded {
        .seven-peaks-select-header {
            border: 1px solid rgba(0, 0, 0, 0.42);
            border-bottom-color: transparent;
        }

        .seven-peaks-select-list {
            opacity: 1;
            visibility: visible;
        }
    }
}

.seven-peaks-select-header {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font_size);
    line-height: 24px;
    letter-spacing: 0.09px;
    color: var(--color);
    min-width: 255px;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    padding: 10px 5px;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    transition: all .3s;

    &-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.seven-peaks-select-list {
    position: absolute;
    left: 0;
    background-color: #fff;

    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 1;

    &-item {
        padding: 7px 5px;
        font-family: var(--roboto);
        font-style: normal;
        font-weight: normal;
        font-size: var(--font_size);
        line-height: 24px;
        letter-spacing: 0.09px;
        color: var(--color);
        cursor: pointer;
        transition: all .4s;

        &:hover {
            background-color: #09357bba;
            color: var(--white)
        }
    }
}