@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('../fonts/georgia.woff') format('woff');
}


@font-face {
    font-family: 'Georgia Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Italic'), url('../fonts/georgiai.woff') format('woff');
}


@font-face {
    font-family: 'Georgia Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold'), url('../fonts/georgiab.woff') format('woff');
}


@font-face {
    font-family: 'Georgia Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Bold Italic'), url('../fonts/georgiaz.woff') format('woff');
}

* {
    margin: 0;
    padding: 0
}

body {
    --primary_color: #09357B;
    --white: #ffffff;
    --font_size: 16px;
    --roboto: 'Roboto', sans-serif;
    --georgia-bold: 'Georgia Bold';
    --georgia-regular: 'Georgia Regular';
    --color: rgba(0, 0, 0, 0.87);

    font-size: var(--font_size);
    line-height: 24px;
    font-family: var(--roboto);
    color: var(--color);
}

p {
    margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 24px;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color);
}

a:hover {
    color: var(--primary_color);
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

figcaption {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: var(--color);
    mix-blend-mode: normal;
    opacity: 0.5;
    display: inline-block;
}

figure {
    margin: 0;
}

iframe {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1
}

.align-items-center {
    align-items: center;
}

.text-right {
    text-align: right;
}

.align-self-end {
    align-self: end;
}