.seven-peaks-no-resut-section {
    height: 60vh;
}

.seven-peaks-no-result-found {
    font-size: 17px;
    font-weight: 500;
    background-color: #cccccc78;
    padding: 12px 20px;
    display: block;
    box-sizing: border-box;
}