.seven-peaks-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color: var(--primary_color);

    &-row {
        min-height: 126px;
        transition: all .4s;
    }


    &-spacer {
        margin-top: 126px
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .seven-peaks-header-row {
        min-height: 100px;
        transition: all 0.4s;
    }

    .seven-peaks-header-spacer {
        margin-top: 100px
    }
}

// Mobile
@media (max-width: 767px) {
    .seven-peaks-logo {
        max-width: 100px;
    }

    .seven-peaks-header {
        .container {
            padding-right: 0;
        }
    }

    .seven-peaks-header-row {
        min-height: 80px;

        .seven-peaks-header-row {
            min-height: 70px;
            transition: all 0.4s;
            text-align: center;
        }

        .col:nth-child(1) {
            flex: 0 0 100px;
        }
    }

    .seven-peaks-header-spacer {
        margin-top: 80px
    }

    .seven-peaks-search-box-label.active {
        width: 100%;
    }

    .seven-peaks-search-box-button,
    .seven-peaks-search-box-label {
        width: 50px;
    }
}