.seven-peaks-section-header {
    margin: 0;
    font-family: var(--georgia-bold);
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.07px;
    color: var(--color);
    padding-top: 50px;
    padding-bottom: 30px;
}